<client-navbar></client-navbar>
<div class="flex justify-content-center">
    <p-card header="Existing providers" class="flex-70">
        <div class="mb-2">
            <p-dropdown
                placeholder="Service"
                [options]="availableServices"
                [(ngModel)]="selectedService"
                (ngModelChange)="onServiceSelectionChange()"
                optionLabel="serviceName"
            ></p-dropdown>
        </div>
        <p-table [value]="providers">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Offered Services</th>
                    <th>Address</th>
                    <th>Phone number</th>
                    <th>Rating</th>
                    <th>Contract</th>
                    <th>Provider's reviews</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-provider>
                <tr>
                    <td>{{ provider.name }}</td>
                    <td>{{ getOfferedServicesString(provider) }}</td>
                    <td>{{ provider.address }}</td>
                    <td>{{ provider.phoneNumber }}</td>
                    <td>{{ calculateRating(provider.reviews, ReviewType.CLIENT_REVIEW) | rating }}</td>
                    <td>
                        <p-button
                            label="Contact"
                            severity="secondary"
                            (onClick)="onContactProviderClicked(provider)"
                        ></p-button>
                    </td>
                    <td>
                        <p-button
                            label="Reviews"
                            (onClick)="reviewsTabOpen = !reviewsTabOpen; activeProvider = provider"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="7" style="height: 25rem">
                        <div class="flex justify-content-center">
                            <i class="pi pi-search mr-1"></i>No results found
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
<p-dialog
    [(visible)]="reviewsTabOpen"
    [focusTrap]="true"
    [modal]="true"
    header="{{ activeProvider?.name ?? '' }}'s reviews"
    class="reviews-dialog"
>
    <reviews-tab
        header="How people reviewed"
        subheader=""
        [reviews]="filterReviews(activeProvider?.reviews ?? [], ReviewType.CLIENT_REVIEW)"
    ></reviews-tab>
    <reviews-tab
        header="How the provider reviewed other clients"
        [reviews]="filterReviews(activeProvider?.reviews ?? [], ReviewType.PROVIDER_REVIEW)"
    ></reviews-tab>
</p-dialog>
