<provider-navbar></provider-navbar>
<div class="flex align-items-center flex-column">
    <p-toast></p-toast>
    <p-card
        header="My profile ({{ provider.username.length === 0 ?'username' : provider.username }})"
        subheader="Rating: {{ calculateRating(provider.reviews, ReviewType.CLIENT_REVIEW) | rating }}"
        class="profile-card-width"
    >
        <div>
            <span class="p-float-label mt-5">
                <input id="name" pInputText [(ngModel)]="provider.name" [readonly]="!editMode"/>
                <label for="name">Name</label>
            </span>
            <span class="p-float-label mt-5">
                <input id="email" pInputText [(ngModel)]="provider.email" [readonly]="!editMode"/>
                <label for="email">E-mail</label>
            </span>
            <span class="p-float-label mt-5">
                <input id="fiscal" pInputText [(ngModel)]="provider.fiscalCode" [readonly]="!editMode"/>
                <label for="fiscal">Fiscal code</label>
            </span>
            <span class="p-float-label mt-5">
                <p-autoComplete
                    id="address"
                    [(ngModel)]="provider.address"
                    [readonly]="!editMode"
                    [suggestions]="suggestions"
                    (completeMethod)="completeResults($event.query)"
                ></p-autoComplete>
                <label for="address">Address</label>
            </span>
            <span class="p-float-label mt-5">
                <input id="phone" pInputText [(ngModel)]="provider.phoneNumber" [readonly]="!editMode"/>
                <label for="phone">Phone number</label>
            </span>
        </div>
        <div>
            <h3>Offered services</h3>
            <p-listbox [options]="selectedServices" [readonly]="true" *ngIf="!editMode"></p-listbox>
            <p-listbox
                [options]="servicesString"
                [(ngModel)]="selectedServices"
                [multiple]="true"
                *ngIf="editMode"
            ></p-listbox>
        </div>
        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Save"
                class="p-button-success mr-2"
                *ngIf="editMode"
                [disabled]="!isSaveEnabled()"
                style="pointer-events: auto"
                [pTooltip]="validationMessage"
                (click)="onSaveClicked()"
            ></button>
            <button pButton pRipple label="Cancel" class="p-button-danger mr-2" *ngIf="editMode"
                    (click)="onCancelClicked()"></button>
            <button pButton pRipple label="Edit" *ngIf="!editMode" (click)="editMode = true"></button>
        </ng-template>
    </p-card>
    <div class="flex flex-row profile-card-width">
        <p-card class="flex-100">
            <div class="flex flex-row">
                <reviews-tab
                    class="flex-50 mr-2"
                    header="Your reviews"
                    subheader="See how people reviewed your services"
                    [reviews]="filterReviews(provider.reviews, ReviewType.CLIENT_REVIEW)"
                ></reviews-tab>
                <reviews-tab
                    class="flex-50"
                    header="How you've been reviewed"
                    subheader="See how you reviewed the clients which interacted with you"
                    [owner]="true"
                    [reviews]="filterReviews(provider.reviews, ReviewType.PROVIDER_REVIEW)"
                    (reviewsChanged)="reviewsUpdated()"
                ></reviews-tab>
            </div>
        </p-card>
    </div>
</div>
