:host ::ng-deep {
  .loading-spinner .p-dialog.p-dialog {
    box-shadow: none;
  }

  .p-dialog-content {
    background: fixed;
  }

  .progress-spinner {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
  }
}
