<div *ngIf="role === 'CLIENT'">
    <client-navbar></client-navbar>
</div>
<div *ngIf="role === 'PROVIDER'">
    <provider-navbar></provider-navbar>
</div>
<div class="flex justify-content-center">
    <p-toast></p-toast>
    <p-card
        header="Contract for {{ contract.service.serviceName }} with {{ contract.provider.name }}"
        class="flex-50"
        *ngIf="contract"
    >
        <status-chip
            [status]="contract.status"
        ></status-chip>

        <span class="p-float-label mt-5">
            <p-inputNumber
                mode="currency"
                currency="EUR"
                [(ngModel)]="contract.price"
                [readonly]="!workflowMode || !isInEditableState(workflowStatus)"
            ></p-inputNumber>
            <label>Price</label>
        </span>

        <span class="p-float-label mt-5">
            <p-inputNumber
                mode="currency"
                currency="EUR"
                [(ngModel)]="contract.advancePayment"
                [readonly]="!workflowMode || !isInEditableState(workflowStatus)"
            ></p-inputNumber>
            <label>Advance Payment</label>
        </span>

        <span class="p-float-label mt-5">
            <input
                id="notes"
                pInputText
                [(ngModel)]="contract.clientNotes"
                [readonly]="!workflowMode || role === 'PROVIDER'"
            />
            <label for="notes">Your notes</label>
        </span>

        <span class="p-float-label mt-5">
            <input
                id="provider-notes"
                pInputText
                [(ngModel)]="contract.providerNotes"
                [readonly]="!workflowMode || role === 'CLIENT'"
            />
            <label for="provider-notes">Provider notes</label>
        </span>

        <div class="flex flex-column mt-3">
            <div style="font-size: 12px" class="ml-2">Date</div>
            <div class="mt-2">
                <p-calendar
                    [(ngModel)]="contract.contractDate"
                    [disabled]="!workflowMode || !isInEditableState(workflowStatus)"
                    dateFormat="dd.mm.yy"
                ></p-calendar>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="flex flex-row" *ngIf="!workflowMode">
                <div *ngFor="let status of acceptedStatuses" class="ml-2">
                    <transition-button
                        [toStatus]="status"
                        (onClick)="goToStatus(status)"
                    ></transition-button>
                </div>
                <div *ngIf="needsReview">
                    <p-button
                        label="Leave a review!"
                        [outlined]="true"
                        (onClick)="reviewPageVisible = true"
                        severity="help"
                    ></p-button>
                    <p-dialog
                        header="Leave a review"
                        [modal]="true"
                        class="review-dialog"
                        [(visible)]="reviewPageVisible"
                    >
                        <span class="p-text-secondary block mb-5">Fill the form below to review your interaction</span>
                        <p-rating [cancel]="false" [(ngModel)]="createReviewDto.rating"></p-rating>
                        <div class="p-float-label mt-5">
                            <input id="title" pInputText [(ngModel)]="createReviewDto.title"/>
                            <label for="title">Title*</label>
                        </div>
                        <div class="p-float-label mt-5 mb-3">
                            <textarea
                                rows="6"
                                cols="40"
                                id="text"
                                [(ngModel)]="createReviewDto.text"
                                pInputTextarea
                            ></textarea>
                            <label for="text">Your review*</label>
                        </div>
                        <div class="flex justify-content-end">
                            <p-button
                                label="Clear"
                                [outlined]="true"
                                severity="secondary"
                                (onClick)="clearCreateReview()"
                            ></p-button>
                            <p-button
                                label="Cancel"
                                class="ml-2"
                                [outlined]="true"
                                (onClick)="reviewPageVisible = false"
                            ></p-button>
                            <p-button
                                label="Save"
                                class="ml-2"
                                [disabled]="!isReviewSaveEnabled()"
                                (onClick)="saveReviewClicked()"
                            ></p-button>
                        </div>
                    </p-dialog>
                </div>
            </div>
            <div class="flex flex-row" *ngIf="workflowMode">
                <p-button
                    label="Abort"
                    icon="pi pi-times"
                    class="mr-2"
                    [outlined]="true"
                    (onClick)="refreshStatus()"
                ></p-button>
                <transition-button
                    [toStatus]="workflowStatus"
                    (onClick)="saveInformation()"
                ></transition-button>
            </div>
        </ng-template>
    </p-card>
</div>
<p-dialog
    [(visible)]="loading"
    [focusTrap]="true"
    [draggable]="false"
    [showHeader]="false"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '30%' }"
>
    <p-progressSpinner class="progress-spinner"></p-progressSpinner>
</p-dialog>
